@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}


/* Track*/
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}

/* Thumb*/
::-webkit-scrollbar-thumb {
  background: #9ca3af; 
  border-radius: 50px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}



